In [1]:
import pandas as pd
import numpy as np

In [2]:
##### reading the data

bin= pd.read_csv("Base_Vehicle_Data.csv")

In [3]:
bin.head()

,Collision Reference No.,Vehicle Reference No,Vehicle Type,Towing and Articulation,Vehicle Manoeuvre,Vehicle Location at Time of Impact,Junction Location of Vehicle at Time of Impact,Skidding / Overturning,First Object Hit in Carriageway,Vehicle Leaving Carriageway,First Object Hit off Carriageway,First Point of Impact,Sex of Driver,Age of Driver,Hit and Run,Foreign Registered Vehicle
0,1,1,8,1,1,3,1,1,11,2,5,3,1,4,2,1
1,1,2,8,1,19,3,6,3,14,3,6,2,1,4,1,2
2,1,3,8,1,18,3,6,3,14,3,6,2,1,5,1,2
3,2,1,8,1,18,3,6,3,14,3,6,5,2,3,2,2
4,2,2,8,1,18,3,5,5,13,5,2,4,2,6,1,4

In [7]:
##### renaming columns #########

bin.columns = [c.replace(' ', '_') for c in bin.columns]
bin=bin.drop(['Vehicle_Reference_No'], axis=1)

bin=bin.rename(index=str, columns={"Collision_Reference_No.":"Collision_Reference_No"})

bin=bin.rename(index=str, columns={"Skidding_/_Overturning":"Skidding_Overturning"})

In [8]:
bin.head()

,Collision_Reference_No,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location_at_Time_of_Impact,Junction_Location_of_Vehicle_at_Time_of_Impact,Skidding_Overturning,First_Object_Hit_in_Carriageway,Vehicle_Leaving_Carriageway,First_Object_Hit_off_Carriageway,First_Point_of_Impact,Sex_of_Driver,Age_of_Driver,Hit_and_Run,Foreign_Registered_Vehicle
0,1,8,1,1,3,1,1,11,2,5,3,1,4,2,1
1,1,8,1,19,3,6,3,14,3,6,2,1,4,1,2
2,1,8,1,18,3,6,3,14,3,6,2,1,5,1,2
3,2,8,1,18,3,6,3,14,3,6,5,2,3,2,2
4,2,8,1,18,3,5,5,13,5,2,4,2,6,1,4

In [9]:
bin.Vehicle_Type.value_counts()

8     18770
15     1149
1       623
23      489
24      396
20      324
18      197
25      130
14       96
2        85
19       51
17       50
7        31
5        24
4        13
6        12
16        9
22        5
9         4
21        4
Name: Vehicle_Type, dtype: int64

In [22]:
def cut_levels(x, threshold, new_value):
    x= x.copy()
    value_counts = x.value_counts()
    labels = value_counts.index[value_counts < threshold]
    x[np.in1d(x, labels)] = new_value
    return x

bin.Vehicle_Type= cut_levels(bin.Vehicle_Type, 100, 0)

In [10]:
bin.Towing_and_Articulation.value_counts()

1    22007
2      238
5      172
6       35
4        9
3        1
Name: Towing_and_Articulation, dtype: int64

In [24]:
def cut_levels(x, threshold, new_value):
    x= x.copy()
    value_counts = x.value_counts()
    labels = value_counts.index[value_counts < threshold]
    x[np.in1d(x, labels)] = new_value
    return x

bin.Towing_and_Articulation= cut_levels(bin.Towing_and_Articulation, 10, 0)

In [11]:
bin.Vehicle_Manoeuvre.value_counts()

18    9089
4     2648
9     1900
3     1857
5     1383
17     855
16     747
19     617
2      610
10     571
7      559
1      332
13     300
8      238
11     213
12     147
15     142
14     136
6      118
Name: Vehicle_Manoeuvre, dtype: int64

In [25]:
def cut_levels(x, threshold, new_value):
    x= x.copy()
    value_counts = x.value_counts()
    labels = value_counts.index[value_counts < threshold]
    x[np.in1d(x, labels)] = new_value
    return x

bin.Vehicle_Manoeuvre= cut_levels(bin.Vehicle_Manoeuvre, 1000, 6)

In [12]:
bin.Vehicle_Location_at_Time_of_Impact.value_counts()

3     17769
4      1886
2      1536
1       741
6       153
13      124
11       95
8        59
12       36
10       33
9        18
7        12
Name: Vehicle_Location_at_Time_of_Impact, dtype: int64

In [26]:
def cut_levels(x, threshold, new_value):
    x= x.copy()
    value_counts = x.value_counts()
    labels = value_counts.index[value_counts < threshold]
    x[np.in1d(x, labels)] = new_value
    return x

bin.Vehicle_Location_at_Time_of_Impact= cut_levels(bin.Vehicle_Location_at_Time_of_Impact, 200, 0)

In [13]:
bin.Junction_Location_of_Vehicle_at_Time_of_Impact.value_counts()

1    3688
3    3434
2    3412
4    3114
6    2959
7    2941
5    2914
Name: Junction_Location_of_Vehicle_at_Time_of_Impact, dtype: int64

In [14]:
bin.Skidding_Overturning.value_counts()

1    4931
6    3618
2    3573
3    3525
4    3425
5    3390
Name: Skidding_Overturning, dtype: int64

In [15]:
bin.First_Object_Hit_in_Carriageway.value_counts()

1     3941
15    2193
14    2112
11    2091
13    2070
3     2053
10    2027
7     2015
9     1995
8     1965
Name: First_Object_Hit_in_Carriageway, dtype: int64

In [16]:
bin.Vehicle_Leaving_Carriageway.value_counts()

1    3811
2    2453
8    2427
3    2342
9    2339
7    2337
5    2279
6    2239
4    2235
Name: Vehicle_Leaving_Carriageway, dtype: int64

In [17]:
bin.First_Object_Hit_off_Carriageway.value_counts()

1     3504
5     2093
10    1947
3     1943
8     1922
2     1893
6     1851
7     1837
9     1833
4     1826
11    1813
Name: First_Object_Hit_off_Carriageway, dtype: int64

In [18]:
bin.First_Point_of_Impact.value_counts()

2    12296
3     5009
4     2321
5     1955
1      881
Name: First_Point_of_Impact, dtype: int64

In [19]:
bin.Age_of_Driver.value_counts()

4    5104
5    4291
3    4270
6    4060
7    2278
8    1999
2     243
1     217
Name: Age_of_Driver, dtype: int64

In [27]:
def cut_levels(x, threshold, new_value):
    x= x.copy()
    value_counts = x.value_counts()
    labels = value_counts.index[value_counts < threshold]
    x[np.in1d(x, labels)] = new_value
    return x

bin.Age_of_Driver= cut_levels(bin.Age_of_Driver, 300, 0)

In [20]:
bin.Hit_and_Run.value_counts()

1    21268
2      949
3      245
Name: Hit_and_Run, dtype: int64

In [21]:
bin.Foreign_Registered_Vehicle.value_counts()

1    6955
3    5233
2    5210
4    5064
Name: Foreign_Registered_Vehicle, dtype: int64

In [29]:
bin.head()

,Collision_Reference_No,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location_at_Time_of_Impact,Junction_Location_of_Vehicle_at_Time_of_Impact,Skidding_Overturning,First_Object_Hit_in_Carriageway,Vehicle_Leaving_Carriageway,First_Object_Hit_off_Carriageway,First_Point_of_Impact,Sex_of_Driver,Age_of_Driver,Hit_and_Run,Foreign_Registered_Vehicle
0,1,8,1,6,3,1,1,11,2,5,3,1,4,2,1
1,1,8,1,6,3,6,3,14,3,6,2,1,4,1,2
2,1,8,1,18,3,6,3,14,3,6,2,1,5,1,2
3,2,8,1,18,3,6,3,14,3,6,5,2,3,2,2
4,2,8,1,18,3,5,5,13,5,2,4,2,6,1,4

In [35]:
bin_cd=bin

In [36]:
bin_cd_list=bin_cd

In [ ]:
########## converting columns to categorical and dummification

In [40]:
bin_cd_list=[ 'Vehicle_Type','Towing_and_Articulation','Vehicle_Manoeuvre','Vehicle_Location_at_Time_of_Impact','Junction_Location_of_Vehicle_at_Time_of_Impact','Skidding_Overturning','First_Object_Hit_in_Carriageway','Vehicle_Leaving_Carriageway','First_Object_Hit_off_Carriageway','First_Point_of_Impact','Sex_of_Driver','Age_of_Driver','Hit_and_Run','Foreign_Registered_Vehicle']
for col in bin_cd_list :
    bin_cd[col] = bin_cd[col].astype('category')

In [43]:
categorical_Attributes = bin_cd.select_dtypes(include=['category']).columns
categorical_Attributes

Index(['Vehicle_Type', 'Towing_and_Articulation', 'Vehicle_Manoeuvre',
       'Vehicle_Location_at_Time_of_Impact',
       'Junction_Location_of_Vehicle_at_Time_of_Impact',
       'Skidding_Overturning', 'First_Object_Hit_in_Carriageway',
       'Vehicle_Leaving_Carriageway', 'First_Object_Hit_off_Carriageway',
       'First_Point_of_Impact', 'Sex_of_Driver', 'Age_of_Driver',
       'Hit_and_Run', 'Foreign_Registered_Vehicle'],
      dtype='object')

In [44]:
bin_cd = pd.get_dummies(columns=categorical_Attributes, data=bin_cd, prefix=categorical_Attributes, prefix_sep="_",drop_first=False)

In [45]:
print (bin_cd.columns, bin_cd.shape)

Index(['Collision_Reference_No', 'Vehicle_Type_0', 'Vehicle_Type_1',
       'Vehicle_Type_8', 'Vehicle_Type_15', 'Vehicle_Type_18',
       'Vehicle_Type_20', 'Vehicle_Type_23', 'Vehicle_Type_24',
       'Vehicle_Type_25', 'Towing_and_Articulation_0',
       'Towing_and_Articulation_1', 'Towing_and_Articulation_2',
       'Towing_and_Articulation_5', 'Towing_and_Articulation_6',
       'Vehicle_Manoeuvre_3', 'Vehicle_Manoeuvre_4', 'Vehicle_Manoeuvre_5',
       'Vehicle_Manoeuvre_6', 'Vehicle_Manoeuvre_9', 'Vehicle_Manoeuvre_18',
       'Vehicle_Location_at_Time_of_Impact_0',
       'Vehicle_Location_at_Time_of_Impact_1',
       'Vehicle_Location_at_Time_of_Impact_2',
       'Vehicle_Location_at_Time_of_Impact_3',
       'Vehicle_Location_at_Time_of_Impact_4',
       'Junction_Location_of_Vehicle_at_Time_of_Impact_1',
       'Junction_Location_of_Vehicle_at_Time_of_Impact_2',
       'Junction_Location_of_Vehicle_at_Time_of_Impact_3',
       'Junction_Location_of_Vehicle_at_Time_of_Impact_4',
       'Junction_Location_of_Vehicle_at_Time_of_Impact_5',
       'Junction_Location_of_Vehicle_at_Time_of_Impact_6',
       'Junction_Location_of_Vehicle_at_Time_of_Impact_7',
       'Skidding_Overturning_1', 'Skidding_Overturning_2',
       'Skidding_Overturning_3', 'Skidding_Overturning_4',
       'Skidding_Overturning_5', 'Skidding_Overturning_6',
       'First_Object_Hit_in_Carriageway_1',
       'First_Object_Hit_in_Carriageway_3',
       'First_Object_Hit_in_Carriageway_7',
       'First_Object_Hit_in_Carriageway_8',
       'First_Object_Hit_in_Carriageway_9',
       'First_Object_Hit_in_Carriageway_10',
       'First_Object_Hit_in_Carriageway_11',
       'First_Object_Hit_in_Carriageway_13',
       'First_Object_Hit_in_Carriageway_14',
       'First_Object_Hit_in_Carriageway_15', 'Vehicle_Leaving_Carriageway_1',
       'Vehicle_Leaving_Carriageway_2', 'Vehicle_Leaving_Carriageway_3',
       'Vehicle_Leaving_Carriageway_4', 'Vehicle_Leaving_Carriageway_5',
       'Vehicle_Leaving_Carriageway_6', 'Vehicle_Leaving_Carriageway_7',
       'Vehicle_Leaving_Carriageway_8', 'Vehicle_Leaving_Carriageway_9',
       'First_Object_Hit_off_Carriageway_1',
       'First_Object_Hit_off_Carriageway_2',
       'First_Object_Hit_off_Carriageway_3',
       'First_Object_Hit_off_Carriageway_4',
       'First_Object_Hit_off_Carriageway_5',
       'First_Object_Hit_off_Carriageway_6',
       'First_Object_Hit_off_Carriageway_7',
       'First_Object_Hit_off_Carriageway_8',
       'First_Object_Hit_off_Carriageway_9',
       'First_Object_Hit_off_Carriageway_10',
       'First_Object_Hit_off_Carriageway_11', 'First_Point_of_Impact_1',
       'First_Point_of_Impact_2', 'First_Point_of_Impact_3',
       'First_Point_of_Impact_4', 'First_Point_of_Impact_5', 'Sex_of_Driver_1',
       'Sex_of_Driver_2', 'Age_of_Driver_0', 'Age_of_Driver_3',
       'Age_of_Driver_4', 'Age_of_Driver_5', 'Age_of_Driver_6',
       'Age_of_Driver_7', 'Age_of_Driver_8', 'Hit_and_Run_1', 'Hit_and_Run_2',
       'Hit_and_Run_3', 'Foreign_Registered_Vehicle_1',
       'Foreign_Registered_Vehicle_2', 'Foreign_Registered_Vehicle_3',
       'Foreign_Registered_Vehicle_4'],
      dtype='object') (22462, 90)

In [68]:
bin_fin=bin_cd.groupby('Collision_Reference_No')[['Vehicle_Type_0', 'Vehicle_Type_1',
       'Vehicle_Type_8', 'Vehicle_Type_15', 'Vehicle_Type_18',
       'Vehicle_Type_20', 'Vehicle_Type_23', 'Vehicle_Type_24',
       'Vehicle_Type_25', 'Towing_and_Articulation_0',
       'Towing_and_Articulation_1', 'Towing_and_Articulation_2',
       'Towing_and_Articulation_5', 'Towing_and_Articulation_6',
       'Vehicle_Manoeuvre_3', 'Vehicle_Manoeuvre_4', 'Vehicle_Manoeuvre_5',
       'Vehicle_Manoeuvre_6', 'Vehicle_Manoeuvre_9', 'Vehicle_Manoeuvre_18',
       'Vehicle_Location_at_Time_of_Impact_0',
       'Vehicle_Location_at_Time_of_Impact_1',
       'Vehicle_Location_at_Time_of_Impact_2',
       'Vehicle_Location_at_Time_of_Impact_3',
       'Vehicle_Location_at_Time_of_Impact_4',
       'Junction_Location_of_Vehicle_at_Time_of_Impact_1',
       'Junction_Location_of_Vehicle_at_Time_of_Impact_2',
       'Junction_Location_of_Vehicle_at_Time_of_Impact_3',
       'Junction_Location_of_Vehicle_at_Time_of_Impact_4',
       'Junction_Location_of_Vehicle_at_Time_of_Impact_5',
       'Junction_Location_of_Vehicle_at_Time_of_Impact_6',
       'Junction_Location_of_Vehicle_at_Time_of_Impact_7',
       'Skidding_Overturning_1', 'Skidding_Overturning_2',
       'Skidding_Overturning_3', 'Skidding_Overturning_4',
       'Skidding_Overturning_5', 'Skidding_Overturning_6',
       'First_Object_Hit_in_Carriageway_1',
       'First_Object_Hit_in_Carriageway_3',
       'First_Object_Hit_in_Carriageway_7',
       'First_Object_Hit_in_Carriageway_8',
       'First_Object_Hit_in_Carriageway_9',
       'First_Object_Hit_in_Carriageway_10',
       'First_Object_Hit_in_Carriageway_11',
       'First_Object_Hit_in_Carriageway_13',
       'First_Object_Hit_in_Carriageway_14',
       'First_Object_Hit_in_Carriageway_15', 'Vehicle_Leaving_Carriageway_1',
       'Vehicle_Leaving_Carriageway_2', 'Vehicle_Leaving_Carriageway_3',
       'Vehicle_Leaving_Carriageway_4', 'Vehicle_Leaving_Carriageway_5',
       'Vehicle_Leaving_Carriageway_6', 'Vehicle_Leaving_Carriageway_7',
       'Vehicle_Leaving_Carriageway_8', 'Vehicle_Leaving_Carriageway_9',
       'First_Object_Hit_off_Carriageway_1',
       'First_Object_Hit_off_Carriageway_2',
       'First_Object_Hit_off_Carriageway_3',
       'First_Object_Hit_off_Carriageway_4',
       'First_Object_Hit_off_Carriageway_5',
       'First_Object_Hit_off_Carriageway_6',
       'First_Object_Hit_off_Carriageway_7',
       'First_Object_Hit_off_Carriageway_8',
       'First_Object_Hit_off_Carriageway_9',
       'First_Object_Hit_off_Carriageway_10',
       'First_Object_Hit_off_Carriageway_11', 'First_Point_of_Impact_1',
       'First_Point_of_Impact_2', 'First_Point_of_Impact_3',
       'First_Point_of_Impact_4', 'First_Point_of_Impact_5', 'Sex_of_Driver_1',
       'Sex_of_Driver_2', 'Age_of_Driver_0', 'Age_of_Driver_3',
       'Age_of_Driver_4', 'Age_of_Driver_5', 'Age_of_Driver_6',
       'Age_of_Driver_7', 'Age_of_Driver_8', 'Hit_and_Run_1', 'Hit_and_Run_2',
       'Hit_and_Run_3', 'Foreign_Registered_Vehicle_1',
       'Foreign_Registered_Vehicle_2', 'Foreign_Registered_Vehicle_3',
       'Foreign_Registered_Vehicle_4']]

In [69]:
bin_fin.head()

,Vehicle_Type_0,Vehicle_Type_1,Vehicle_Type_8,Vehicle_Type_15,Vehicle_Type_18,Vehicle_Type_20,Vehicle_Type_23,Vehicle_Type_24,Vehicle_Type_25,Towing_and_Articulation_0,...,Age_of_Driver_6,Age_of_Driver_7,Age_of_Driver_8,Hit_and_Run_1,Hit_and_Run_2,Hit_and_Run_3,Foreign_Registered_Vehicle_1,Foreign_Registered_Vehicle_2,Foreign_Registered_Vehicle_3,Foreign_Registered_Vehicle_4
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
5,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
6,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
7,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
8,0,0,1,0,0,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,0
9,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
10,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
11,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
12,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
13,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
14,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
15,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
16,0,0,1,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
17,0,0,1,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
18,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
19,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
20,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
21,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
22,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
23,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
24,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
25,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
26,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
27,0,0,1,0,0,0,0,0,0,0,...,0,0,1,1,0,0,1,0,0,0
28,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
29,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22432,0,0,1,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,1
22433,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
22434,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
22435,0,0,1,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
22436,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
22437,0,0,1,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,1
22438,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
22439,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0
22440,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
22441,0,0,1,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0
22442,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
22443,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
22444,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
22445,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
22446,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
22447,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
22448,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
22449,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
22450,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
22451,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
22452,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
22453,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
22454,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
22455,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
22456,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
22457,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
22458,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0
22459,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
22460,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
22461,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0

In [ ]:
#### writing this file to csv ####

In [75]:
vehicle2=bin_fin

In [77]:
# reading file to csv
vehicle2.sum().reset_index().to_csv('vehicle_bin.csv')

In [76]:
#### to export dataftame #####
vehicle2.agg(lambda x:x.value_counts().index[0]).to_csv('merged.txt')

In [79]:
####### merging the 3 datasets
acc=pd.read_csv("Train.csv")
vehicle_bin=pd.read_csv("vehicle_bin.csv")
number=pd.read_csv("NumberOfVehiclesbyCollosion.csv")

In [114]:
acc.Weekday_of_Collision

,Collision_Reference_No.,Policing_Area,Collision_Severity,Weekday_of_Collision,Day_of_Collision,Month_of_Collision,Hour_of_Collision_(24_hour),Carriageway_Type,Speed_Limit,Junction_Detail,Junction_Control,Pedestrian_Crossing_–_Human_Control,Pedestrian_Crossing_–_Physical_Control,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site
0,3518,CREA,3,MON,4,8,14.0,13,60,1.0,1.0,1.0,1.0,2,9,9.0,1.0
1,10557,BELC,3,SAT,8,8,17.0,11,50,12.0,7.0,1.0,1.0,4,3,1.0,1.0
2,5002,LISB,3,WED,5,11,17.0,1,60,12.0,7.0,1.0,1.0,2,2,2.0,1.0
3,11714,BELC,3,SUN,18,10,16.0,12,70,6.0,NaN,1.0,1.0,1,3,1.0,1.0
4,12416,MIDU,3,MON,23,11,9.0,13,60,6.0,7.0,1.0,1.0,2,3,1.0,1.0

In [82]:
vehicle_bin=vehicle_bin.drop('Unnamed: 0',axis=1)

In [83]:
vehicle_bin.head()

,Collision_Reference_No,Vehicle_Type_0,Vehicle_Type_1,Vehicle_Type_8,Vehicle_Type_15,Vehicle_Type_18,Vehicle_Type_20,Vehicle_Type_23,Vehicle_Type_24,Vehicle_Type_25,...,Age_of_Driver_6,Age_of_Driver_7,Age_of_Driver_8,Hit_and_Run_1,Hit_and_Run_2,Hit_and_Run_3,Foreign_Registered_Vehicle_1,Foreign_Registered_Vehicle_2,Foreign_Registered_Vehicle_3,Foreign_Registered_Vehicle_4
0,1,0,0,3,0,0,0,0,0,0,...,0,0,0,2,1,0,1,2,0,0
1,2,0,0,2,0,0,0,0,0,0,...,1,0,0,1,1,0,0,1,0,1
2,3,0,0,2,0,0,0,0,0,0,...,0,0,0,2,0,0,2,0,0,0
3,4,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,5,0,0,2,0,0,0,0,0,0,...,0,1,0,2,0,0,2,0,0,0

In [84]:
type(vehicle_bin)

pandas.core.frame.DataFrame

In [93]:
acc1.head()

,Collision_Reference_No,Policing_Area,Collision_Severity,Weekday_of_Collision,Day_of_Collision,Month_of_Collision,Hour_of_Collision,Carriageway_Type,Speed_Limit,Junction_Detail,Junction_Control,Pedestrian_Crossing_Human_Control,Pedestrian_Crossing_Physical_Control,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site
0,3518,CREA,3,MON,4,8,14.0,13,60,1.0,1.0,1.0,1.0,2,9,9.0,1.0
1,10557,BELC,3,SAT,8,8,17.0,11,50,12.0,7.0,1.0,1.0,4,3,1.0,1.0
2,5002,LISB,3,WED,5,11,17.0,1,60,12.0,7.0,1.0,1.0,2,2,2.0,1.0
3,11714,BELC,3,SUN,18,10,16.0,12,70,6.0,NaN,1.0,1.0,1,3,1.0,1.0
4,12416,MIDU,3,MON,23,11,9.0,13,60,6.0,7.0,1.0,1.0,2,3,1.0,1.0

In [91]:
acc1=acc
acc1.columns = [c.replace(' ', '_') for c in acc1.columns]
acc1=acc1.rename(index=str, columns={"Collision_Reference_No.":"Collision_Reference_No"})

acc1=acc1.rename(index=str, columns={"Hour_of_Collision_(24_hour)":"Hour_of_Collision"})

acc1=acc1.rename(index=str, columns={"Pedestrian_Crossing_–_Human_Control":"Pedestrian_Crossing_Human_Control"})
acc1=acc1.rename(index=str, columns={"Pedestrian_Crossing_–_Physical_Control":"Pedestrian_Crossing_Physical_Control"})

In [94]:
merge1= pd.merge(vehicle_bin, acc1, how='inner')

In [95]:
merge1.shape

(10397, 106)

In [96]:
merge1.head()

,Collision_Reference_No,Vehicle_Type_0,Vehicle_Type_1,Vehicle_Type_8,Vehicle_Type_15,Vehicle_Type_18,Vehicle_Type_20,Vehicle_Type_23,Vehicle_Type_24,Vehicle_Type_25,...,Carriageway_Type,Speed_Limit,Junction_Detail,Junction_Control,Pedestrian_Crossing_Human_Control,Pedestrian_Crossing_Physical_Control,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site
0,1,0,0,3,0,0,0,0,0,0,...,13,30,12.0,3.0,1.0,11.0,2,2,2.0,NaN
1,3,0,0,2,0,0,0,0,0,0,...,13,60,1.0,1.0,1.0,1.0,3,2,1.0,1.0
2,4,0,0,1,0,0,0,0,0,0,...,13,30,1.0,NaN,1.0,9.0,2,2,2.0,1.0
3,5,0,0,2,0,0,0,0,0,0,...,13,30,1.0,NaN,1.0,1.0,7,1,2.0,1.0
4,6,0,0,2,0,0,0,0,0,0,...,11,30,1.0,1.0,1.0,1.0,5,9,4.0,1.0

In [98]:
number.head()

   Collision Reference No.  Number of Vehicles
0                        1                   3
1                        2                   2
2                        3                   2
3                        4                   1
4                        5                   2

In [99]:
number.columns = [c.replace(' ', '_') for c in number.columns]
number=number.rename(index=str, columns={"Collision_Reference_No.":"Collision_Reference_No"})

In [100]:
merge2=pd.merge(merge1,number,how='inner')

In [101]:
merge2.head()

,Collision_Reference_No,Vehicle_Type_0,Vehicle_Type_1,Vehicle_Type_8,Vehicle_Type_15,Vehicle_Type_18,Vehicle_Type_20,Vehicle_Type_23,Vehicle_Type_24,Vehicle_Type_25,...,Speed_Limit,Junction_Detail,Junction_Control,Pedestrian_Crossing_Human_Control,Pedestrian_Crossing_Physical_Control,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Number_of_Vehicles
0,1,0,0,3,0,0,0,0,0,0,...,30,12.0,3.0,1.0,11.0,2,2,2.0,NaN,3
1,3,0,0,2,0,0,0,0,0,0,...,60,1.0,1.0,1.0,1.0,3,2,1.0,1.0,2
2,4,0,0,1,0,0,0,0,0,0,...,30,1.0,NaN,1.0,9.0,2,2,2.0,1.0,1
3,5,0,0,2,0,0,0,0,0,0,...,30,1.0,NaN,1.0,1.0,7,1,2.0,1.0,2
4,6,0,0,2,0,0,0,0,0,0,...,30,1.0,1.0,1.0,1.0,5,9,4.0,1.0,2

In [102]:
merge2.shape

(10397, 107)

In [103]:
accident_data=merge2

In [113]:
prediction = pd.DataFrame(accident_data.to_csv('accident_data.csv'))

In [ ]:
prediction = pd.DataFrame(dtree_predictions, columns=['Collision Severity']).to_csv('prediction.csv')